@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/Khula/Khula-Bold.ttf);
  }
  
  $font-1: "font-1", sans-serif;

$color1:#DEDFC1;
$color2:#F3EECB;
$color3:#f8d752;
$color4:#74b137;
$color5:#375f44;
$color6:#fffdf0;

@mixin displayFlex-JCC-AIC
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-next,.swiper-button-prev {color: $color3 !important;}



.swiper-pagination-bullet-active {
  background-color: $color3 !important;
}