@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/Khula/Khula-Bold.ttf);
  }
  
  $font-1: "font-1", sans-serif;

$color1:#DEDFC1;
$color2:#F3EECB;
$color3:#DCC052;
$color4:#86BB51;
$color5:#216837;
$color6:#F8F5E2;

