@import './settings';
@import './components/navbar';
@import './components/containProduit';
@import './components/home';
@import './components/infoProduit';
@import './components/card';
@import './components/footer';
@import './components/sliderProduit';
@import './components/categorieDiv';
@import './components/selectionProduit';
@import './components/filter';
@import './components/returnTop';
@import './components/panierProduit';


*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
//   border: 1px red solid;
}
body
{
    background: $color6;
    width: 100vw;
    
}