


.ProduitContainer{
    margin-top: 35vh;
    margin-bottom: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 500px;
    width: 100%;
    color: $color2;
.title-produit
{
    padding-top: 15px;
    padding-left: 25px;
   
}

    img{
      
        height: 75vh;
        width: 75vh;       
        object-fit: cover;
        border-radius: 10px;
        
      }

      
    .infoLeft-container
    {
        height: 75vh;
        width: 75vh; 
        border: 1px solid $color5;
        background: $color5;

        ul{
            margin-top: 80px;
            @include displayFlex-JCC-AIC;
            
        }
        li{
            @include displayFlex-JCC-AIC;
            list-style: none;
            background: $color1;
            height: 50px;
            width: 50px;
            margin: 5px
        }
    }
    .price-container
    {
        @include displayFlex-JCC-AIC;
    }
    .compteur
    {
        @include displayFlex-JCC-AIC;
        margin-left: 50px;
    }
    .pay
    {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      button
      {
        height: 30px;
        width: 150px;
        border-radius: 15px;
        &:hover
        {
            background: black;
        }
      }
     
    }

}