.ProduitContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;


    img{
      
        height: 100px;
        width: 160px;       
        object-fit: cover;
        border-radius: 10px;
        
      }

}