
.filtrePage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.filterPageContainer{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    gap: 50px;
.filter{
    margin-top: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 50px;
    background-color: $color4;
    
    border-radius: 10px;
    padding: 20px;
    width: 100%;

    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 5px;

        color: $color2;
        
    }
    .rightFilter{
        display: flex;
        flex-direction: column;
         li{
            padding-bottom: 20px;
         }
        
    }
}
.cardContainerFilter{
    width: 100%;
}}