.home{position: relative;}

.sectionBanniere{
    margin-top: 20vh;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    img{
        max-width: 100vw;
    }

    button{
        position: absolute;
        bottom: 20%;
       right :15%;
       border: none;
       background-color: $color5;
       color: $color2;
       width: 200px;
       padding: 15px;
       border-radius: 5px;
       font-size: 1rem;
    }
}




.selectionAvis{
    background-color: $color3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 100px 0;
    padding: 50px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

    h2{
        color: $color2;
        text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.25);
        font-size: 1.7rem;
        letter-spacing: 0.8px;
        font-size: 2rem;
    }

    ul{
        
        width: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;

        li{
            width: 200px;
            background-color: $color2;
            height: 250px;
            border-radius: 0px 35px 0px 0px;
            filter: drop-shadow(6px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }
    
}