.home{position: relative;}

.sectionBanniere{
    margin-top: 20vh;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-end;
    img{
        max-width: 100vw;
    }

    .banniereVert{
        
       display: flex;
       justify-content: center;
       align-items: center;
        position: absolute;
        left: 1px;
        top :1px;
        width: 100%;
        .Right{
            display: flex;
            justify-content: center;
            width: 100%;
          
        }
        .Left{
            display: flex;
            justify-content: center;
            width: 100%;
            flex-direction: column;
            
            
            h4{
                color: $color6;
                font-size: 2rem
            }

            h2{
                color: $color6;
                font-size: 3rem

            }
            #h4blanc{
                color:rgb(102, 194, 59) ;
            }
            #h2blanc{
                color:rgb(102, 194, 59) ;
            }
            #h4jaune{
                color:rgb(243, 191, 78) ;
            }
            #h2jaune{
                color:rgb(243, 191, 78) ;
            }

            #vert{
                margin-top: 10px;
                border: none;
                background-color: $color5;
                color: $color2;
                width: 40%;
                padding: 15px;
                border-radius: 5px;
                font-size: 1rem;
                 transition: 0.3s;
                 cursor: pointer;
         
                &:hover{
                 background-color: $color6;
                 border: 1px solid $color5;
                 color: $color5;
                }
            }
            #noir{
                margin-top: 10px;
                border: none;
                background-color: rgb(233, 233, 123);
                color: black;
                width: 40%;
                padding: 15px;
                border-radius: 5px;
                font-size: 1rem;
                 transition: 0.3s;
                 cursor: pointer;
         
                &:hover{
                 background-color: black;
                 border: 1px solid rgb(233, 233, 123);
                 color: rgb(233, 233, 123);
                }
            }
            #blanc{
                margin-top: 10px;
                border: none;
                background-color: rgb(102, 194, 59);
                color: whitesmoke;
                width: 40%;
                padding: 15px;
                border-radius: 5px;
                font-size: 1rem;
                 transition: 0.3s;
                 cursor: pointer;
         
                &:hover{
                 background-color: white;
                 border: 1px solid rgb(102, 194, 59);
                 color: rgb(102, 194, 59);
                }
            }
            #jaune{
                margin-top: 10px;
                border: none;
                background-color: rgb(243, 191, 78);
                color: whitesmoke;
                width: 40%;
                padding: 15px;
                border-radius: 5px;
                font-size: 1rem;
                 transition: 0.3s;
                 cursor: pointer;
         
                &:hover{
                 background-color: white;
                 border: 1px solid rgb(243, 191, 78);
                 color: rgb(243, 191, 78);
                }
            }
            #maté{
                margin-top: 10px;
                border: none;
                background-color: rgb(78, 136, 243);
                color: whitesmoke;
                width: 40%;
                padding: 15px;
                border-radius: 5px;
                font-size: 1rem;
                 transition: 0.3s;
                 cursor: pointer;
         
                &:hover{
                 background-color: white;
                 border: 1px solid rgb(78, 136, 243);
                 color: rgb(78, 136, 243);
                }
            }
        }
    }
}



.selectionAvis{
    background-color: $color3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 100px 0;
    padding: 50px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

    h2{
        color: $color2;
        text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.25);
        font-size: 1.7rem;
        letter-spacing: 0.8px;
        font-size: 2rem;
    }

    ul{
        
        width: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;

        li{
            width: 200px;
            background-color: $color2;
            height: 250px;
            border-radius: 0px 35px 0px 0px;
            filter: drop-shadow(6px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }
    
}