.infoProduit-container
{

    p{
        text-align: center;
        margin: 50px 250px;
        color: $color5;
        font-size: 1.5rem;
    }
    .divider
    { 
        font-size: 1.5rem;
        color: $color5;
        opacity: 0;
        padding: 40px;
        padding-left: 640px;
        padding-right: 640px;
        transition: 0.5s;
        @include displayFlex-JCC-AIC;

      

       &::after,&::before
        {
            
            content: '';
            flex-grow: 1;
            height: 3px;
            background-color: $color3;
        }

        &::before
        {
            margin-right: 2rem;
        }
        &::after
        {
            margin-left: 2rem;
        }
    }

    .divider.active
    {
        opacity: 1;
        padding-left: 140px;
        padding-right: 140px;
    }

    .preparation-container
    {
      @include displayFlex-JCC-AIC;


        display: flex;
        gap: 50px;
        margin: 100px 0;
        .contenue
        {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            background-color: $color5;
            height: 200px;
            width: 250px;
            box-shadow: 10px 10px 0px 0px $color4;
            color: $color6;
            h3{
                font-size: 1.5rem;
                color: $color3;
            }
        }
    }
}