
.navbar{
    position:fixed; 
    width: 100%;
    z-index: 10;
    transition: 0.3s;
    box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 25%);
.navbarTop{
    background-color: $color5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    ul{
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        color: white;
        
        
        img{
            width: 100%;
            max-width: 90px;
        }
        #logo{
            width: 100%;
        }
        #icon{
            width: 25px;
            gap: 15px;
            display: flex;
            align-items: center ;
            justify-content: center;
        }
      

        .recherche{
       
            
            display: flex;
            flex-direction: column;
           position: relative;
           
            width: 400px;

           .rechercheInput{
            display: grid;
            grid-template-columns: 92% 8%;
            width: 100%;
            
            input{
                
                height: 25px;
                width: 400px;
                text-align: center;
                background: $color6;
                border-radius: 5px;
                
                border: none;
            }
            #clearBtn{
                cursor: pointer;
                color: $color5;
            }
            #searchBtn{
                color: $color5;
            }
           }
            .resultats{
               position: absolute;
               top: 30px;
                display: flex;
                flex-direction: column;
                align-items: start;
                width: 400px;
                
                background: $color6;
                border-radius: 5px;
                border: none;
                background-color: $color6;
                color: $color5;
                padding: 5px;
                overflow: hidden;
                overflow-y: auto;
                height: 100px;

                &::-webkit-scrollbar{
                    display: none;
                }

                .lisearch{
                    width: 390px;
                   cursor: pointer;
                   transition: 0.1s;
                   &:hover{
                    background-color: $color3;
                   }

                }
            }
        }
    }
    
}
.navbarBot{
    background-color: $color6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    letter-spacing: 1px;

    ul{
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 20%;
        color: $color4;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       
        li{
           
            text-align: center;
            &:hover{
                color: $color3;
                cursor: pointer;
                transition: 0.2s;
            }
        }
        
        #solde{
            color: $color3;
            background-color: $color4;
            border-radius: 10px;
            padding: 1px 10px;
            
            &:hover{
                color: $color4;
                background-color: $color3;
    
            }
        }

    }
}
}