
.navbar{
    position:fixed; 
    width: 100%;
    z-index: 10;
    transition: 0.3s;
.navbarTop{
    background-color: $color5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    ul{
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        color: white;
        position: relative;
        
        img{
            width: 100%;
        }
        #logo{
            width: 100%;
        }
        #icon{
            width: 25px;
            gap: 15px;
            display: flex;
            align-items: center ;
            justify-content: center;
        }
        li{
            max-width: 90px;
        }
        input{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 25px;
            width: 400px;
            text-align: center;
            background: $color2;
            border-radius: 5px;
            border: none;
        }
    }
    
}
.navbarBot{
    background-color: $color6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    letter-spacing: 1px;

    ul{
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 20%;
        color: $color4;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       
        li{
           
            text-align: center;
        }
        :hover{
            color: $color3;
            cursor: pointer;
            transition: 0.2s;
        }
        
        #solde{
            color: $color3;
            background-color: $color4;
            border-radius: 10px;
            padding: 1px 10px;
            
            :hover{
                color: $color4;
                background-color: $color3;
    
            }
        }

    }
}
}