.topbtn{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: $color5;
    border: 1px solid $color2;
    position: fixed;
    z-index: 20;
    right: 20px;
    bottom: 20px;
    transition: 0.3s;
    box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img{
        width: 80%;
    }
}